<h1>Form#envio</h1>
<p>Find me in app/views/form/envio.html.erb</p>

<form action="<%= form_recibo_path %>" method="GET">
  <input type="text" name="a">
  <input type="text" name="b">
  <input type="submit" value="Enviar">
</form>
