<div class="landing-top">
  <div class="landing-text">
    <h2 class="container">Bienvenido a <span class="marca">Veggie Kings</span>. Hogar de la mejor comida con el servicio más rapido de la ciudad.</h2>
  </div>
</div>

<div class="border">
  <div class="card text-white bg-warning">
    <div class="card-body container padding">
      <h4 class="card-title">Nuestros servicios</h4>
      <p class="card-text">Contamos con dos opciones de servicio, en uno presentamos la carta que tenemos a disposición, si estas preparaciones no son de tu agrado o prefieres innovar con tus propias creaciones, puedes diseñar tu mismo el plato en nuestra opción de crear</p>
    </div>
  </div>
</div>

<div class="image-landing img-fluid padding">
  <div class="row">
      <div class="offset-md-1 col-md-4 ">
        <ul class="demo-2 effect">
            <li>
              <h2>Elige de nuestro menú</h2>
            </li>
            <li> <a href="<%= platos_path %>"><img class="top" src="https://saborgourmet.com/wp-content/uploads/ensaladas-con-ricota-istock-1-600x401.jpg" alt=""/></li></a>
        </ul>
      </div>
      <div class="offset-md-1 col-md-4">
        <ul class="demo-2 effect">
            <li>
              <h2>Crea tu Plato</h2>
            </li>
            <li> <a href="<%= crear_plato_index_path %>"><img class="top" src="https://saborgourmet.com/wp-content/uploads/ensaladas-con-ricota-istock-1-600x401.jpg" alt=""/></a></li>
        </ul>
      </div>
  </div>
</div>
