<div class="container">
  <table class="table text-center">
    <th>Aporte</th>
    <th>Cantidad</th>
    <tr>
      <td>Grasas</td>
      <td>0 gr</th>
    </tr>
    <tr>
      <td>Grasas Saturadas</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Grasas Trans</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Colesterol</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Sodio</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Carbohidratos</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Fibra Dietetica</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Azúcar</td>
      <td>0 gr</td>
    </tr>
    <tr>
      <td>Proteína</td>
      <td>0 gr</td>
    </tr>
  </table>
</div>
